
    
    <div class="row form-login">
        <div class="col-md-3"> 


        </div>

        <div class="col-md-6">
                       
                <form>
                   
                   <input type="text"  class="form-control" name="nombre" placeholder="Ingrese usuario">
                   <input type="text"  class="form-control" name="password" placeholder="Ingrese contraseña">
                   <a class="form-control btn btn-primary">Iniciar</a>

                </form>

        </div>

        <div class="col-md-3">
            


        </div>


    </div>
    
  
        
    
