<div class="row">
  <div class="col-md-8">
    <div class="row m-2">
      <button type="button" [disabled]="enableBtn" class="btn btn-outline-primary btn-sm" (click)="addNewAutores()">Nuevo</button> &nbsp;
      <button type="button" [disabled]="enableBtn" class="btn btn-outline-info btn-sm" (click)="addNewAutores()">Editar</button> &nbsp;
      <button type="button" [disabled]="enableBtn" class="btn btn-outline-danger btn-sm" (click)="addNewAutores()">Eliminar</button> &nbsp;
    </div>
    <app-listar-autores></app-listar-autores>

  </div>

  <div class="col-md-4">
    <app-crud-autores *ngIf="activado" (cancel)="activeAdd($event)">
    </app-crud-autores>

  </div>


</div>
