<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="row m-2">
        <button type="button" [disabled]="enableBtn" class="btn btn-outline-primary btn-sm" (click)="addNewAutores()">Nuevo</button> &nbsp;
        <button type="button" [disabled]="enableBtn" class="btn btn-outline-info btn-sm" (click)="editAutores()">Editar</button> &nbsp;
        <button type="button" [disabled]="enableBtn" class="btn btn-outline-danger btn-sm" (click)="deleteAutores()">Eliminar</button> &nbsp;
      </div>

      <app-listar-autores></app-listar-autores>

    </div>

    <div class="col-md-6" *ngIf="activado">
      <div class="card">
        <div class="card-header">
        Registro de autores
        </div>
        <app-crud-autores  (cancelar)="activeAdd($event)">
        </app-crud-autores>
      </div>
    </div>
  </div>
</div>
