<div class="container">
  <form  [formGroup]="grados" (ngSubmit)="saveGrados(grados.value)">
    <div class="form-group row">
      <label >Nombre</label>
      <input type="text"
             class="form-control"
             [ngClass]=
               "{'is-invalid':
             grados.controls['description'].errors?.valid ||
             grados.controls['description'].errors?.minlength,
             'is-valid': !grados.controls['description'].errors}"
             formControlName="description"
             placeholder="Nombre completo">
      <div class="alert-danger" *ngIf="grados.dirty || grados.touched">
        <div  *ngIf="grados.controls['description'].errors?.required"
              class="form-control-feedback">
          El nombre es requerido
        </div>
        <div  *ngIf="grados.controls['description'].errors?.minlength"
              class="form-control-feedback">
          El nombre minimo son 6 caracteres
        </div>
      </div>
    </div>
   <!-- <div class="form-group row">
      <label>Detalles</label>
      <input type="text"
             class="form-control"
             [ngClass]=
             "{'is-invalid':
             grados.controls['detalles'].errors?.valid ||
             grados.controls['detalles'].errors?.minlength,
             'is-valid': !grados.controls['detalles'].errors }"
             formControlName="detalles"
             placeholder="Detalles">
      <div class="alert-danger" *ngIf="grados.dirty || grados.touched">
        <div  *ngIf="grados.controls['detalles'].errors?.required"
              class="form-control-feedback">
          El nombre es requerido
        </div>
        <div  *ngIf="grados.controls['detalles'].errors?.minlength"
              class="form-control-feedback">
          El nombre minimo son 10 caracteres
        </div>
      </div>
    </div>-->
    <div class="form-group row">
      <button type="submit" class="btn btn-outline-danger" (click)="cancelAction()">Cancelar</button> &nbsp;
      <button type="submit" class="btn btn-outline-success" [disabled]="!grados.valid" >Guardar</button>
    </div>
  </form>
</div>

